<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	

<!--
		<listener type="load" class="com.cce.safepork.hibernate.LoadListener"/>
		<listener type="save" class="com.cce.safepork.hibernate.SaveListener"/>
-->
		<!--<listener type="delete" class="com.cce.safepork.hibernate.DeleteListener"/>-->


	</session-factory>
</hibernate-configuration>
